<div class="login-content">
    <mat-icon svgIcon="maarchLogo" class="maarchLogo" style="margin-top: -50px; margin-bottom: 50px">
    </mat-icon> <!-- EDISSYUM - NCH01 Changement du logo d'application | Remplacer maarchLogoWhiteFull par maarchLogo & rajout de style = "....."-->
    <mat-card class="login-form">
        <form (ngSubmit)="generateLink()">
            <div class="alert-message alert-message-info" [innerHTML]="'lang.afterClickingSendLinkChangePassword' | translate">
            </div>
            <mat-form-field class="input-row">
                <input name="login" matInput placeholder="{{'lang.enterLogin' | translate}}" [(ngModel)]="newLogin.login" type="text" oninput="this.value = this.value.toLowerCase()">
            </mat-form-field>
            <button type="submit" mat-button [disabled]="newLogin.login == '' || loading">{{labelButton}}</button>
            <button type="button" mat-button (click)="cancel();">{{'lang.cancel' | translate}}</button>
        </form>
    </mat-card>
</div>