
.avatarAccount {
    border: solid 3px var(--maarch-color-secondary);
    height: 45px !important;
    width: 45px !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}